section.avis_clients {
    text-align: center;
    background-color: var(--couleur-11);
}

section.avis_clients * {
    color: white;
}

section.avis_clients .sous-bloc-avis {
    padding: 50px;
    margin: 50px 0;
    position: relative;
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    color: var(--couleur-7) !important;
    width: calc(25% - 115px);
}

section.avis_clients .bloc-avis {
    display: flex;
    justify-content: space-between;
}

section.avis_clients h2 {
    margin-bottom: 15px;
}


/***** MEDIA *****/

@media screen and (min-width: 1024px) {
    section.avis_clients .bloc-avis {
        flex-wrap: wrap;
    }
    section.avis_clients .sous-bloc-avis {
        width: calc(50% - 115px);
    }
}