section.abonnements {
    text-align: center;
    background-position: center;
    background-size: cover;
}

section.abonnements h2 {
    margin-bottom: 15px;
    color: white;
}

section.abonnements h3 {
    color: white;
    font-family: var(--police-Quicksand-Light);
    margin-bottom: 75px;
}

section.abonnements .bloc-abonnements {
    display: flex;
    justify-content: space-between;
    margin: -15px auto 50px;
    flex-wrap: wrap;
}

section.abonnements .colonne {
    width: calc(50% - 50px);
    margin: 25px auto 0;
}

section.abonnements .colonne.colonne-2,
section.abonnements .colonne.colonne-3 {
    background-color: white;
    box-shadow: 0px 6px 30px #00000029;
    border-radius: 10px;
    height: max-content;
}

section.abonnements button {
    margin-bottom: 25px;
    margin-top: 35px;
    padding: 8px 40px;
    min-width: 70%;
    max-width: 500px;
}

section.abonnements .economie {
    padding: 10px;
    background: var(--couleur-2);
    border-radius: 10px 10px 0 0;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

section.abonnements .sous-bloc {
    padding: 25px;
}

section.abonnements .a-partir {
    font-weight: bold;
}

section.abonnements .abonnement-titre {
    font-weight: bold;
}

section.abonnements .prix-boite {
    margin: 10px 0 30px;
}

section.abonnements .tarif {
    font-size: 35px;
    margin-right: 5px;
}

section.abonnements .titre {
    margin-bottom: 25px;
    width: calc(100% + 50px);
    left: -25px;
    position: relative;
    top: -25px;
    padding: 15px 0;
    background-color: var(--couleur-5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-transform: uppercase;
    font-family: var(--police--NunitoSans_10pt-ExtraBoldItalic);
    font-size: 20px;
}

section.abonnements .colonne-3 .titre {
    background-color: var(--couleur-7);
    color: white;
}

section.abonnements select {
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 10px 30px;
    font-size: 12px;
    margin-top: 20px;
}

section.abonnements select * {}

section.abonnements .engagement {
    font-size: 10px;
}


section.abonnements .prix-boite.prix-abonnement,
section.abonnements .prix-boite.prix-abonnement * {
    color: var(--couleur-2);
}

section.abonnements .colonne-3 button {
    background-color: var(--couleur-1);
}

section.abonnements .prix-boite,
section.abonnements .prix-boite * {
    color: var(--couleur-1);
    font-family: var(--police--NunitoSans_10pt-ExtraBoldItalic);
    font-size: 25px;
}

section.abonnements .colonne-2 button {
    background-color: var(--couleur-1);
}

section.abonnements option:checked {
    background-color: var(--couleur-4);
}

section.abonnements .description {
    font-size: 14px;
}

section.abonnements .sous-sous-bloc img {
    width: calc(40% - 15px);
}

section.abonnements .sous-sous-bloc {
    display: flex;
    justify-content: space-between;
}

section.abonnements .sous-sous-bloc img {
    width: 200px;
    height: 294px;
}

section.abonnements .titre-produit {
    font-family: var(--police--NunitoSans_10pt-ExtraBoldItalic);
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

section.abonnements .info {
    width: calc(100% - 225px);
    text-align: initial;
}

section.abonnements .info ul {
    list-style-image: url(../../../../uploads/2023/09/croix.svg);
    padding-left: 20px;
}

section.abonnements .colonne-3 .info ul {
    list-style-image: url(../../../../uploads/2023/09/valider.svg);
}


section.abonnements .info li {
    margin-bottom: 15px;
}

/***** MEDIA *****/



@media screen and (max-width: 1300px) {
    section.abonnements .info {
        width: 100%;
        margin-top: 35px;
    }

    section.abonnements .sous-sous-bloc {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1024px) {
    section.abonnements .colonne {
        width: 100%;
        max-width: 500px;
    }

    section.abonnements .sous-sous-bloc img {
        width: 150px;
        height: 220.5px;
    }
}