section.avis_clients {
    text-align: center;
    background-color: var(--couleur-11);
}

section.avis_clients * {
    color: white;
}

section.avis_clients h2 {
    margin-bottom: 15px;
}


/***** MEDIA *****/

@media screen and (min-width: 1024px) {}