section.abonnements {
    text-align: center;
}

section.abonnements h2 {
    margin-bottom: 15px;
}

section.abonnements h3 {
    font-family: var(--police-Quicksand-Light);
    margin-bottom: 75px;
}

section.abonnements .bloc-abonnements {
    display: flex;
    justify-content: space-between;
    margin: -15px auto 50px;
    flex-wrap: wrap;
}

section.abonnements .sous-bloc-abonnements {
    background-color: var(--couleur-13);
    position: relative;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    padding: 50px;
    width: calc(25% - 125px);
}

section.abonnements .sous-bloc-abonnements .gras {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}


/***** MEDIA *****/

@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1024px) {
    section.abonnements .sous-bloc-abonnements {
        width: calc(50% - 125px);
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 500px) {
    section.abonnements .sous-bloc-abonnements {
        width: 100%;
        margin-bottom: 25px;
    }
}